:root {
  --primary-font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.App {
  margin: 0 auto;
  max-width: 900px;
  font-family: var(--primary-font-family);
}
.App .website-logo {
  max-width: 300px;
  padding: 35px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 30px;
}

/* Dictionary component */

form label {
  display: block;
  font-size: 20px;
}
